/LeftHandEquipement.class
/LeftHandEquipementInterface.class
/Potion.class
/RightHandEquipement.class
/RightHandEquipementInterface.class
/Shield.class
/Spell.class
/Weapon.class
/Sword.class
/Bow.class
/Hammer.class
/Lightning.class
/Fireball.class
/Equipements.class
/PotionMedium.class
/PotionLarge.class
